<form action="/admin/cafe/add" method="post" id="add">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  이      름 : <input type="text" name="name"><br>
  사  진 URL : <input type="text" name="photo_url"><br>
  페이지 URL : <input type="text" name="detail_url"><br>
  영업  시간 : <input type="text" name="open_time"><br>
  위      치 : <input type="text" name="location">
  <input type="submit" value="추가하기">
</form>
<br><br>
<a href="/admin">모델 선택화면</a><br>
<a href="/admin/cafe/destroy_all">전체삭제</a><br>

<br><br><br><br>


<% @cafe.each do |x|%>
  <br>
  이      름 : <%=x.name%><br>
  사  진 URL : <%=x.photo_url%><br>
  페이지 URL : <%=x.detail_url%><br>
  영업  시간 : <%=x.open_time%><br>
  위      치 : <%=x.location%><br>
  <a href="/admin/caffeine/destroy_one/<%=x.id%>">삭제</a><br>
  <a href="/admin/caffine/edit/<%=x.id %>">수정</a><br>
  =========================================================================<br>
<%end%>
