<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, height=device-height, 
                     minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>중식냠냠</title>
    <style>
    div {
        width: 100%;
        height: 100%;
        
        border: 1px solid #000;
    }
    div.left {
        width: 50%;
        float: left;
        box-sizing: border-box;
        
    }
    div.right {
        width: 50%;
        float: right;
        box-sizing: border-box;
        
    }
    </style>
</head>
 
<body>
    <div>
        <div class="left">
            <% @china.each do |x|%>
              <br>
              이      름 : <%=x.name%><br>
              사  진 URL : <%=x.photo_url%><br>
              페이지 URL : <%=x.detail_url%><br>
              영업  시간 : <%=x.open_time%><br>
              위      치 : <%=x.location%><br>
              <a href="/admin/china_destroy_one/<%=x.id%>">데이터 삭제</a><br>
              <a href="/admin/china_edit/<%=x.id %>">데이터 수정</a><br>
              =========================================================================<br>
            <%end%>
            
            
            
        </div>
        
        
        <div class="right">
            <form action="/admin/china/add" method="post" id="add">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              이      름 : <input type="text" name="name"><br>
              사  진 URL : <input type="text" name="photo_url"><br>
              페이지 URL : <input type="text" name="detail_url"><br>
              영업  시간 : <input type="text" name="open_time"><br>
              위      치 : <input type="text" name="location">
              <input type="submit" value="추가하기">
            </form>
            <br><br>
            <a href="/admin">카테고리 선택화면</a><br>
            <a href="/admin/china_destroy_all">DB 전체삭제</a><br>
            
            
            
        </div>
        
        
        
    </div>
</body>
</html>